@use "../../styles/partials/global" as *;

.adjust-button {
  width: 2rem;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    .adjust-button__arrow {
      fill: $Secondary-Light;
    }
  }

  &:active {
    .adjust-button__arrow {
      fill: $Secondary-Dark;
    }
  }

  &__arrow {
    fill: $Secondary;
    display: block;
    pointer-events: none;
  }
}



.display {
  width: 2rem;
  border-radius: 8px;
  background-color: $Primary-Dark;
  padding: $qtr-padding-between-mobile;
  display: flex;
  justify-content: center;
  align-items: center;

  &--baseBoard {
    margin-left: $half-padding-between-mobile;
    margin-right: auto;
  }
}