@use "./variables.scss" as *;

//Breakpoints
@mixin tablet {
  @media (min-width: $tablet-breakpoint) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $desktop-breakpoint) {
    @content;
  }
}

//Font Rules
@mixin title-fontstats() {
  fonst-size: 50px;
  font-weight: 700;
  letter-spacing: 5px;

  @include tablet() {
    font-size: 80px;
  }
}

@mixin page-header-fontstats() {
  font-size: 24px;
  font-weight: 700;

  @include tablet {
    font-size: 33px;
    font-weight: 700;
  }
}

@mixin section-header-fontstats() {
  font-size: 20px;
  font-weight: 700;

  @include tablet {
    font-size: 28px;
    font-weight: 700;
  }
}

@mixin subheader-fontstats() {
  font-size: 15px;
  font-weight: 700;

  @include tablet {
    font-size: 18px;
    font-weight: 700;
  }
}

@mixin body-fontstats() {
  font-size: 12px;
  font-weight: 400;

  @include tablet {
    font-size: 14px;
    font-weight: 400;
  }
}

@mixin buttonlabels-fontstats() {
  font-size: 12px;
  font-weight: 700;

  @include tablet {
    font-size: 14px;
    font-weight: 700;
  }
}