//Breakpoint Values
$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;

//Colors
$Primary: #42a5f5;
$Primary-Light: #80d6ff;
$Primary-Dark: #0077c2;

$Primary: #1e88e5;
$Primary-Light: #6ab7ff;
$Primary-Dark: #005cb2;

$Secondary: #ffa726;
$Secondary-Light: #ffd95b;
$Secondary-Dark: #c77800;

$Warn: #c62828;
$Warn-Light: #ff5f52;
$Warn-Dark: #8e0000;

$Font-Primary-Color: #eceff1;



//Padding Rules
$padding-H-before-mobile: 24px;
$padding-between-mobile: 16px;
$half-padding-between-mobile: 8px;
$qtr-padding-between-mobile: 4px;

$padding-H-before-larger: 36px;
$padding-between-larger: 24px;

//Set Values
$btn-border-radius: 8px;
$select-btn-border-radius: 15px;
$flexblock-outline: 1px solid black;
$flexblock-outline-selected: 4px solid #7e57c2;

//Layer Colors
$layer0: white;
$layer1: #ef9a9a;
$layer2: #a5d6a7;
$layer3: #ffcc80;
$layer4: #80deea;
$layer5: #fff59d;
$layer6: #ce93d8;
$layer7: #b0bec5;
$layer8: #bcaaa4;