@use "../../styles/partials/global" as *;

.radio-button {

}

.toolkit {
  width: 33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $Primary-Light;

  &__title {
    font-family: Allan;
    font-weight: 700;
    background-color: $Primary-Dark;

    @include page-header-fontstats;
  }

  &__section {
    display: flex;
    flex-direction: column;
    gap: $padding-between-larger;
    margin-top: 25px;
    background-color: $Primary;
    padding: $padding-between-mobile;

    &--details {

    }
  }

  &__section-title {

  }
}

.creation-btn-ctr {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: 10px;
}

.detail-ctr {
  display: flex;
  width: 100%;
  max-width: 400px;
  gap: 10px;
  align-items: center;

  &__title {
    width: 50%;
    text-align: right;

  }

  &__controls {
    display: flex;
    justify-content: center;
    width: 50%;

    &--flexDirection {
      justify-content: space-evenly;
    }

    &--sizetool {
      gap: $qtr-padding-between-mobile;
    }
  }
}

.radio-ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: $qtr-padding-between-mobile;
}

.radio-button {
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  &__svg {
    fill: $Secondary;
  }
}