@use "../../styles/partials/global" as *;

.toolkit {
  width: 20%;
  min-width: 200px;
  height: 100%;
  display: flex;
  flex-direction: column;
  background-color: $Primary-Light;
  border-right: 2px solid $Primary-Dark;

  @include tablet {
    min-width: 250px;
  }

  &__title {
    font-family: Allan;
    background-color: $Primary-Dark;
    padding: $half-padding-between-mobile;
    width: 100%;
    text-align: center;

    @include page-header-fontstats;
  }

  &__section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin-top: $half-padding-between-mobile;
    background-color: $Primary;
    padding: $padding-between-mobile;

    &--details {
      flex-grow: 1;
    }
  }

  &__section-title {
    @include subheader-fontstats;
  }
}

.creation-btn-ctr {
  display: flex;
  width: 100%;
  justify-content: center;
  gap: $half-padding-between-mobile;
}

.creation-btn {
  background-color: $Primary-Dark;
  padding: $qtr-padding-between-mobile $half-padding-between-mobile;
  border-radius: $btn-border-radius;
  border: 2px solid $Primary-Dark;
  border-style: inset;
}

.deletion-btn {
  width: 60%;
  max-width: 150px;
  background-color: $Warn;
  padding: $qtr-padding-between-mobile 0;
  border-radius: $btn-border-radius;
  border: 4px solid $Warn-Dark;
  border-style: inset;
}

.detail-ctr {
  display: flex;
  width: 100%;
  max-width: 400px;
  gap: 10px;
  align-items: center;

  &__title {
    width: 50%;
    text-align: right;

  }

  &__controls {
    display: flex;
    justify-content: center;
    width: 50%;

    &--flexDirection {
      justify-content: space-evenly;
    }

    &--sizetool {
      gap: $qtr-padding-between-mobile;
    }
  }
}

.radio-ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  gap: $qtr-padding-between-mobile;
}

.radio-button {
  width: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;

  &__svg {
    fill: $Secondary;
    pointer-events: none;
  }
}