@use "../../styles/partials/global" as *;

.select-dropdown {
  width: 100%;
  margin-left: $half-padding-between-mobile;
  background-color: $Primary-Dark;
  color: $Secondary;
  padding: $qtr-padding-between-mobile;
  font-weight: 700;
  border: 2px solid $Primary-Light;

  &__option {
    color: $Font-Primary-Color;
    border: 2px solid $Primary-Dark;
    background-color: $Primary-Light;
    font-weight: 700;
  }
}