@use "../../styles/partials/global" as *;

.stage-select {
  background-color: $Primary;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 $padding-between-mobile $padding-between-mobile;

  &__title {
    font-family: Righteous;
    @include title-fontstats;
    margin-top: $padding-H-before-mobile;

    @include tablet {
      margin-top: $padding-H-before-larger;
    }

    &--special-char {
      color: $Secondary;
    }
  }

  &__select-message {
    margin-top: $padding-H-before-mobile;

    @include tablet {
      margin-top: $padding-H-before-larger;
    }

    @include page-header-fontstats;
  }
}

.difficulty-selector {
  display: flex;
  margin-top: $padding-between-mobile;
  width: 100%;
  max-width: 400px;
  justify-content: center;

  @include tablet {
    margin-top: $padding-between-larger;
  }

  &__option {
    display: flex;
    justify-content: center;
    padding: $half-padding-between-mobile $padding-between-mobile;
    background-color: $Primary-Dark;
    border: 1px solid black;

    width: 100%;

    @include tablet {
      width: 100px;
    }


    &--left {
      border-top-left-radius: $select-btn-border-radius;
      border-bottom-left-radius: $select-btn-border-radius;
    }

    &--right {
      border-top-right-radius: $select-btn-border-radius;
      border-bottom-right-radius: $select-btn-border-radius;
    }

    &--chosen {
      background-color: $Secondary;
      color: $Primary-Dark;
      font-weight: 900;
      border-width: 2px;
    }
  }
}

.puzzle-choices-holder {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: calc(1.25*$padding-H-before-larger);
  border-radius: 25px;
  width: 100%;
  max-width: 600px;
  gap: $padding-between-larger;
  background-color: $Primary-Light;
  padding: $padding-between-larger;

  &--medium {
    background-color: $Secondary-Light;
  }

  &--hard {
    background-color: $Warn-Light;
  }
}

.puzzle-card {
  background-color: $Primary-Dark;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: $padding-between-mobile $padding-H-before-larger;
  border: 2px solid black;
  border-radius: $select-btn-border-radius;
  width: 60px;
  height: 90px;


  &--loading {
    justify-content: center;
  }

  &:hover {
    background-color: $Secondary;
    color: $Primary-Dark;
  }

  &__number {
    color: inherit;
    @include page-header-fontstats;
  }
}

//special loading animation styling from spinner reference website
.sk-fading-circle {
  width: 40px;
  height: 40px;
  position: relative;
}

.sk-fading-circle .sk-circle {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
}

.sk-fading-circle .sk-circle:before {
  content: '';
  display: block;
  margin: 0 auto;
  width: 15%;
  height: 15%;
  background-color: white;
  border-radius: 100%;

  animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
}

.sk-fading-circle .sk-circle2 {
  transform: rotate(30deg);
}

.sk-fading-circle .sk-circle3 {
  transform: rotate(60deg);
}

.sk-fading-circle .sk-circle4 {
  transform: rotate(90deg);
}

.sk-fading-circle .sk-circle5 {
  transform: rotate(120deg);
}

.sk-fading-circle .sk-circle6 {
  transform: rotate(150deg);
}

.sk-fading-circle .sk-circle7 {
  transform: rotate(180deg);
}

.sk-fading-circle .sk-circle8 {
  transform: rotate(210deg);
}

.sk-fading-circle .sk-circle9 {
  transform: rotate(240deg);
}

.sk-fading-circle .sk-circle10 {
  transform: rotate(270deg);
}

.sk-fading-circle .sk-circle11 {
  transform: rotate(300deg);
}

.sk-fading-circle .sk-circle12 {
  transform: rotate(330deg);
}

.sk-fading-circle .sk-circle2:before {
  animation-delay: -1.1s;
}

.sk-fading-circle .sk-circle3:before {
  animation-delay: -1s;
}

.sk-fading-circle .sk-circle4:before {
  animation-delay: -0.9s;
}

.sk-fading-circle .sk-circle5:before {
  animation-delay: -0.8s;
}

.sk-fading-circle .sk-circle6:before {
  animation-delay: -0.7s;
}

.sk-fading-circle .sk-circle7:before {
  animation-delay: -0.6s;
}

.sk-fading-circle .sk-circle8:before {
  animation-delay: -0.5s;
}

.sk-fading-circle .sk-circle9:before {
  animation-delay: -0.4s;
}

.sk-fading-circle .sk-circle10:before {
  animation-delay: -0.3s;
}

.sk-fading-circle .sk-circle11:before {
  animation-delay: -0.2s;
}

.sk-fading-circle .sk-circle12:before {
  animation-delay: -0.1s;
}

@-webkit-keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}

@keyframes sk-circleFadeDelay {
  0%, 39%, 100% {
    opacity: 0;
  }

  40% {
    opacity: 1;
  }
}