@use "../../styles/partials/global" as *;

.puzzle-pg {
  background-color: black;
  height: 100vh;
  display: flex;
}

.puzzle-section {
  width: 40%;
  flex-grow: 1;
  border-left: 2px solid $Primary-Dark;
  border-right: 2px solid $Primary-Dark;
  position: relative;
  background-color: $Primary-Light;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $half-padding-between-mobile;

  &--goal{
    border-right: none;
  }

  &__title {
    font-family: Allan;
    background-color: $Primary-Dark;
    padding: $half-padding-between-mobile;
    width: 100%;
    text-align: center;

    @include page-header-fontstats;
  }

  &__infobar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: $padding-between-mobile;
    align-items: center;
    background-color: $Primary;
    height: 100px;
  }

}

.action-btn-subsection {
  display: flex;
  flex-direction: column;
  gap: $half-padding-between-mobile;
}

.save-btn {
  background-color: $Primary-Dark;
  padding: $qtr-padding-between-mobile $half-padding-between-mobile;
  border-radius: $btn-border-radius;
  border: 4px solid $Primary-Dark;
  border-style: inset;
}

.submit-btn {
  background-color: $Secondary;
  color: $Primary-Dark;
  padding: $qtr-padding-between-mobile $half-padding-between-mobile;
  border-radius: $btn-border-radius;
  border: 4px solid $Primary-Dark;
  border-style: inset;
  font-size: 16px;
  font-weight: 900;
}

.layer-subsection {
  display: flex;
  flex-direction: column;
  gap: $qtr-padding-between-mobile;

  // &__title {
  //   text-align: left;
  // }
}

.layer-legend {
  display: flex;
  gap: $half-padding-between-mobile;
}

.layer-info-ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $qtr-padding-between-mobile;

  &__level {
    @include body-fontstats;
  }

  &__color {
    width: 16px;
    height: 16px;
    border: 1px solid black;
    
    $colors: $layer0, $layer1, $layer2, $layer3, $layer4, $layer5, $layer6, $layer7, $layer8;
    
    @for $i from 1 through length($colors) {
      &--#{$i} {
        background-color: nth($colors, $i)
      }
    }
  }
}

.puzzle-stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__name {
    @include subheader-fontstats;
  }
}

.exit-btn {
  background-color: $Warn;
  padding: $qtr-padding-between-mobile 0;
  border-radius: $btn-border-radius;
  border: 4px solid $Warn-Dark;
  border-style: inset;
  font-size: 16px;
  padding: $qtr-padding-between-mobile $half-padding-between-mobile;
}