@use "../../styles/partials/global" as *;

.puzzle-pg {
  background-color: black;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: auto;
  display: flex;

  &--disable {
    pointer-events: none;
  }
}

.win-screen {
  overflow-x: hidden;
  overflow-y: hidden;
  width: 100vw;
  height: 150vh;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $Primary;
  @include title-fontstats;
  color: $Secondary;
  font-family: Righteous;
  top: 0;

  transform: translateY(-150vh);
  left: 0;
  z-index: 2;

  &--show {
    transform: translateY(-25vh);
    transition: transform 1.5s cubic-bezier(0.68, -0.6, 0.32, 1.6);
  }
}

.puzzle-section {
  width: 40%;
  flex-grow: 1;
  border-left: 2px solid $Primary-Dark;
  border-right: 2px solid $Primary-Dark;
  position: relative;
  background-color: $Primary-Light;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $half-padding-between-mobile;

  &--goal{
    border-right: none;
  }

  &__title {
    font-family: Righteous;
    background-color: $Primary-Dark;
    padding: $half-padding-between-mobile;
    width: 100%;
    text-align: center;

    @include page-header-fontstats;
  }

  &__infobar{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: $half-padding-between-mobile;
    padding-right: $padding-between-mobile;
    align-items: center;
    background-color: $Primary;
    min-height: 70px;
    gap: $padding-between-mobile;

    @include tablet {
      padding: $padding-between-mobile;
      padding-right: $padding-between-larger;
      min-height: 100px;
    }
  }

  &__contents {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding-bottom: $padding-between-mobile;
  }

}

.action-btn-subsection {
  display: flex;
  flex-direction: column;
  gap: $half-padding-between-mobile;
}

.action-btn {
  font-size: 12px;
  border: 3px solid $Primary-Dark;
  border-style: inset;
  border-radius: $btn-border-radius;
  padding: $qtr-padding-between-mobile $half-padding-between-mobile;
  font-weight: 900;

  @include tablet {
    font-size: 15px;
    border: 4px solid $Primary-Dark;
  }

  &--save {
    background-color: $Primary-Dark;
  }

  &--submit {
    background-color: $Secondary;
    color: $Primary-Dark;
  }
  &--exit {
    background-color: $Warn;
    border: 3px solid $Warn-Dark;
    @include tablet {
      border: 4px solid $Warn-Dark;
    }
  }
}

.layer-subsection {
  display: flex;
  flex-direction: row;
  gap: $qtr-padding-between-mobile;

  @include tablet {
    flex-direction: column;
  }

  // &__title {
  //   text-align: left;
  // }
}

.layer-legend {
  display: flex;
  flex-wrap: wrap;
  gap: $half-padding-between-mobile;
}

.layer-info-ctr {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $qtr-padding-between-mobile;

  &__level {
    @include body-fontstats;

    &--mobile {
      color: black;
      font-weight: 700;

      @include tablet {
        display: none;
      }
    }

    &--tablet {
      display: none;
      @include tablet {
        display: block;
      }
    }
  }

  &__color {
    width: 16px;
    height: 16px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    
    $colors: $layer0, $layer1, $layer2, $layer3, $layer4, $layer5, $layer6, $layer7, $layer8;
    
    @for $i from 1 through length($colors) {
      &--#{$i} {
        background-color: nth($colors, $i)
      }
    }
  }
}

.puzzle-stats {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &__name {
    @include subheader-fontstats;
  }
}

.exit-btn {
  background-color: $Warn;
  padding: $qtr-padding-between-mobile 0;
  border-radius: $btn-border-radius;
  border: 4px solid $Warn-Dark;
  border-style: inset;
  font-size: 16px;
  padding: $qtr-padding-between-mobile $half-padding-between-mobile;
}