@use '../../styles/partials/global' as *;

.flexblock {
  // width and height set inline due to dynamic calculation
  display: flex;
  flex-shrink: 0;
  outline: $flexblock-outline;

  &--work-puzzle {
    cursor: pointer;
  }

  &--layer0 {
    background-color: $layer0;
  }

  &--layer1 {
    background-color: $layer1;
  }

  &--layer2 {
    background-color: $layer2;
  }

  &--layer3 {
    background-color: $layer3;
  }

  &--layer4 {
    background-color: $layer4;
  }

  &--layer5 {
    background-color: $layer5;
  }

  &--layer6 {
    background-color: $layer6;
  }

  &--layer7 {
    background-color: $layer7;
  }

  &--layer8 {
    background-color: $layer8;
  }

  &--base-board {
    width: 30vw;
    height: 30vw;
    margin-top: $padding-H-before-mobile;
    outline: 4px solid $Primary-Dark;
  }

  &--dir-column {
    flex-direction: column;
  }

  &--selected {
    outline: $flexblock-outline-selected;
    z-index: 1;
    animation: selectedAnimation 2s linear infinite;
  }

  @keyframes selectedAnimation {

    //4px solid #7e57c2;
    0% {
      outline: 4px solid #7e57c2;
    }

    25% {
      outline: 5px solid #7e57c2;
    }

    50% {
      outline: 7px solid #7e57c2;
    }

    75% {
      outline: 5px solid #7e57c2;
    }
    100% {
      outline: 4px solid #7e57c2;
    }
  }

  &--justifyContent {
    &-start {
      justify-content: flex-start;
    }

    &-center {
      justify-content: center;
    }

    &-end {
      justify-content: flex-end;
    }

    &-between {
      justify-content: space-between;
    }

    &-around {
      justify-content: space-around;
    }

    &-evenly {
      justify-content: space-evenly;
    }
  }

  &--alignItems {
    &-start {
      align-items: flex-start;
    }

    &-center {
      align-items: center;
    }

    &-end {
      align-items: flex-end;
    }
  }

  &--alignSelf {
    &-normal {
      align-self: normal;
    }

    &-start {
      align-self: flex-start;
    }

    &-center {
      align-self: center;
    }

    &-end {
      align-self: flex-end;
    }
  }

  &--mismatch {
    z-index: 1;
    animation: flashIncorrect 0.25s linear infinite;
    outline: 6px solid transparent;
  }

  @keyframes flashIncorrect {
    0% {
      outline-color: rgba(198, 40, 40, 0.75);
    }

    50% {
      outline-color: rgba(142,0,0,1);
    }

    100% {
      outline-color: rgba(198, 40, 40, 0.75);
    }
  }
}