@use '../../styles/partials/global' as *;

.flexblock {
  // width and height set inline due to dynamic calculation
  display: flex;
  flex-shrink: 0;
  outline: $flexblock-outline;

  &--layer0 {
    background-color: $layer0;
  }

  &--layer1 {
    background-color: $layer1;
  }

  &--layer2 {
    background-color: $layer2;
  }

  &--layer3 {
    background-color: $layer3;
  }

  &--layer4 {
    background-color: $layer4;
  }

  &--layer5 {
    background-color: $layer5;
  }

  &--layer6 {
    background-color: $layer6;
  }

  &--base-board {
    width: 30vw;
    height: 30vw;
    margin-top: $padding-H-before-mobile;
    outline: 4px solid $Primary-Dark;
  }

  &--dir-column {
    flex-direction: column;
  }

  &--selected {
    outline: $flexblock-outline-selected;
    z-index: 1;
  }

  &--justifyContent {
    &-start {
      justify-content: flex-start;
    }

    &-center {
      justify-content: center;
    }

    &-end {
      justify-content: flex-end;
    }

    &-between {
      justify-content: space-between;
    }

    &-around {
      justify-content: space-around;
    }

    &-evenly {
      justify-content: space-evenly;
    }
  }

  &--alignItems {
    &-start{
      align-items: flex-start;
    }
    &-center{
      align-items: center;
    }
    &-end{
      align-items: flex-end;
    }
  }

  &--alignSelf {
    &-normal {
      align-self: normal;
    }
    &-start{
      align-self: flex-start;
    }
    &-center{
      align-self: center;
    }
    &-end{
      align-self: flex-end;
    }
  }
}